@import '../styles/globals.scss';

.accordion_button::after {
    //   background-image: url("../../../src/Assets/images/back_inactive_icon.png") !important;
    background: none;
    content: "\002B";
    color: $primary;
    font-size: 32px;
}
.accordion_button:not(.collapsed)::after {
    //   background-image: url("../../../src/Assets/images/back_active_icon.png") !important;
    background: none;
    content: "\2212";
    color: $primary;
    font-size: 32px;
}
.accordion_button:not(.collapsed) {
    color: $primary;
    background-color: white;
    box-shadow: 1px 3px 14px 1.3px gainsboro;
    font-weight: 600;
    border-radius: 10px;
    content: "\2212";
}
.accordion_button {
    box-shadow: none;
}
.accordion_body {
    // background: #e9f7ff;
    color: grey;
}
