$primary: #00a2ff;

@font-face {
  font-family: "f-xbold";
  src: url("../public/fonts/Muli/Muli-ExtraBold.ttf");
}

@font-face {
  font-family: "f-bold";
  src: url("../public/fonts/Muli/Muli-Bold.ttf");
}

@font-face {
  font-family: "f-regular";
  src: url("../public/fonts/Muli/Muli-Regular.ttf");
}

@font-face {
  font-family: "f-semibold";
  src: url("../public/fonts/Muli/Muli-SemiBold.ttf");
}

// html,
// body {
//   font-size: 16px;
// }

.custom-btn {
  color: $primary;
  border: 1px solid $primary;
  background: white;
  &:hover {
    color: white;
    background: $primary;
  }
}

.main-heading {
  font-size: 22px;
  font-family: "f-xbold";
}

.MuiButton-containedPrimary {
  background-color: $primary !important;
}

.MuiPaper-elevation8 {
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.05) !important;
}
