.nav_link {
    margin: 0px 15px;
    color: grey;
    text-decoration: none;

    &:hover {
        color: #00a2ff;
        border-bottom: 2px solid #00a2ff;
    }
}

.address_field {
    color: white;
    white-space: nowrap;
    text-overflow: ellipsis;
    width: 200px;
    overflow: hidden;
}
